body {
    margin: 0 auto;
}

.all {
    width: 1020px;
    margin: 0 auto;
}

.Portfolio {
    background-color: rgb(45, 48, 58);
    height: 864px;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    border-bottom: 6px solid rgb(50, 55, 70);
}

.Portfolio div:first-child {
    color: rgb(102, 109, 137);
    font-size: 30px;
    margin-left: 39px;
    padding-top: 60px;
    font-weight: bolder;
    letter-spacing: 0.2px;
    font-stretch: ultra-expanded;    
    
}

.Portfolio .portinf {
    color: rgb(108, 116, 145);
    font-size: 17px;    
    margin-left: 39px;
    margin-top: 23px;
    font-weight: 200;
    letter-spacing: 0.2px;  
    font-family: 'Lato', sans-serif; 
    
    
}

.Portfolio ul {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;    
}
.Portfolio input {
    border: solid 1px rgb(102, 109, 137);
    border-radius: 5px;
    margin-left: 10px;
    color: rgb(118, 126, 158);
    background-color: rgb(45, 48, 58);
    font-size: 12px;
    height: 22px;
    font-family: 'Lato', sans-serif;
}

input:hover {
    background-color: rgb(197, 197, 197);
    transform: scale(1.1);
}

.Portfolio li:first-child input {
    margin-left: 0px;
    width: 30px;    
}

.Portfolio li:nth-child(2) input {
    width: 78px;    
}

.Portfolio li:nth-child(3) input {
    width: 93px;    
}

.Portfolio li:nth-child(4) input {
    width: 57px;    
}

.Portfolio ul .active input {
    border-color: rgb(197, 197, 197) ;
    color: rgb(222, 222, 222) ;
}

/*------------------photo------------------------------*/
.photo ul {
    display: flex;
    flex-direction: row;  
    
}


.photo ul li {
    margin-left: 20px;
}

.photo ul li:first-child {
    margin-left: 0;
}

.photo .firsline {
    margin-top: 18px;
    margin-left: 0;
}

.photo .secondline {
    margin-top: 17px;
}

.photo .thirdline {
    margin-top: 16px;
}

.photo .fourline {
    display: none;
}

/*------------------aboutUs------------------------------*/

.AboutUs {
    margin: 0 auto;
    background-color: rgb(242, 242, 242);
    border-bottom:solid 6px rgb(255, 255, 255) ;
    height: 728px;
    font-family: 'Lato', sans-serif;
}

.AboutUs div:first-child {
    color: rgb(102, 109, 137);
    font-size: 30px;
    margin-left: 42px;
    padding-top: 59px;
    font-weight: bolder;
    letter-spacing: 0.2px;
    font-stretch: ultra-expanded;    
    
}

.AboutUs .textabout {
    color: rgb(108, 116, 145);
    font-size: 18px;    
    margin-left: 41px;
    margin-top: 19px;
    font-weight: 200;
    letter-spacing: 0.2px;  
    font-family: 'Lato', sans-serif; 
    line-height: 31px;    
    
}

/*------------------aboutUs +photo------------------------------*/

.AboutUs .personinf {
    display: flex;
    flex-direction: row;
}


.AboutUs ul {
    margin-top: 0;
}

.AboutUs .personinf li {
    width: 300px;
}

.AboutUs ul div:first-child {
    padding-top: 42px;
    margin: 0px;
}

.AboutUs .personinf .Aboutseccolomn {
    margin-left: 18px;
}

.AboutUs .personinf .Aboutseccolomn2 {
    margin-left: 22px;
}

.AboutUs .personinf .personname {
    color: rgb(102, 109, 137);
    font-size: 18px;
    margin-left: 0px;
    padding-top: 8px;
    font-weight: bolder;
    letter-spacing: 0.2px;
    font-stretch: ultra-expanded; 
}

.AboutUs .personinf .aboutperson {
    color: rgb(108, 116, 145);
    font-size: 11px;    
    margin-left: 0px;
    margin-top: 9px;
    font-weight: 200;
    letter-spacing: 0.2px;  
    font-family: 'Lato', sans-serif; 
    line-height: 21px;
}

.AboutUs .personinf .personcontact {
    margin-top: 23px;
}

.AboutUs .personinf .personcontact a:first-child {
    margin-left: 0;
}

.AboutUs .personinf .personcontact a {
    margin-left: 5px;

}

.AboutUs .personcontact img:hover {
    transform: scale(1.2);
}
